body,
h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    color: rgb(252, 252, 252);
    background: rgba(157, 0, 214, 0.474);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    background-color: black;
}

h1 {
    background: linear-gradient(90deg, #cb86ff, rgb(80, 20, 139));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.content {
    height: 100vh;
    /* for mobile devices */
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts>a {
    margin-bottom: 3px;
}